@using JogoDaVelha.Classes;
<div class="modal" tabindex="-1" role="dialog" style="display:@modalDisplay; overflow-y: auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hora de jogar</h5>
            </div>
            <div class="modal-body">
                <br />
                Escolha o jogador
                <div>
                    <button class="btn btn-primary" @onclick="@(() => PassToParent(GlobalConstants.X_PNG))">Jogador 1 (X) </button>
                    <button class="btn btn-primary" @onclick="@(() => PassToParent(GlobalConstants.CIRCULO_PNG))">Jogador 2 (O) </button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public RecursosInitGame RecursosInitGame { get; set; } = new();

    public string modalDisplay { get; set; }

    [Parameter] public EventCallback<RecursosInitGame> CallBack { get; set; }

    protected override void OnInitialized()
    {
        modalDisplay = GlobalConstants.BLOCK;
    }
    public void PassToParent(string escolha)
    {
        modalDisplay = GlobalConstants.NONE;
        RecursosInitGame.EscolhaDoUsuario = escolha;
        CallBack.InvokeAsync(RecursosInitGame);
    }
    void ChangeTipoGameplaySelect(TipoGameplay tipoGameplay)
    {
        RecursosInitGame.TipoGameplay = tipoGameplay;
    }
}
